.row.justify-content-end.my-1.mr-3
    - if current_user
        %span.mr-3 Hello, #{current_user.name}!
        %form.form-inline{method: 'post', action: '/auth/logout'}
            %button.btn.btn-sm.btn-danger{type: 'submit'} Logout
    - else
        %form.form-inline.mr-2{method: 'post', action: '/auth/identity/callback'}
            .form-group
                %label{for: 'auth-key-input'} E-mail
                %input#auth-key-input.form-control.form-control-sm.ml-1.mr-2{name: 'auth_key', type: 'text'}
            .form-group
                %label{for: 'password-input'} Password
                %input#password-input.form-control.form-control-sm.ml-1.mr-2{name: 'password', type: 'password'}
            %button.btn.btn-sm.btn-primary{type: 'submit'} Login    
        %a.btn.btn-sm.btn-secondary{href: '/auth/identity/register'} Sign up
