.row
  .col-1
  .col-8
    %h4
      %a{href: '#benchmark-protocols'} Benchmarking protocols
    %p Some text
    %p And more text
    %h4
      %a{href: '#submission-formats'} Submission formats
    %p Some text
    %p And more text
