.row
  .col-1
  .col-8
    %h4
      %a{href: '#timeline'} Timeline
    %p Some text
    %p And more text

    %h4
      %a{href: '#data'} Challenge data
    %p Some text
    %p And more text
    %h4
      %a{href: '#stage-leaderboard'} Leaderboard stage
    %p Some text
    %p And more text
    %h4
      %a{href: '#stage-final'} Final stage
    %p Some text
    %p And more text
    %h4
      %a{href: '#stage-post-challenge'} Post-challenge stage
    %p Some text
    %p And more text