.row
    .col-6
        %form{method: 'post', action: '/auth/identity/register'}
            .form-group
                %label{for: 'email-input'} E-mail
                %input#email-input.form-control{name: 'auth_key', type: 'text'}
            .form-group
                %label{for: 'name-input'} Name
                %input#name-input.form-control{name: 'name', type: 'text'}
            .form-group
                %label{for: 'password-input'} Password
                %input#password-input.form-control{name: 'password', type: 'password'}
            .form-group
                %label{for: 'password-confirmation-input'} Password confirmation
                %input#password-confirmation-input.form-control{name: 'password_confirmation', type: 'password'}
            %button.btn.btn-sm.btn-primary{type: 'submit'} Login
