.row
  .col-8
    - if signed_in?
      %form{method: 'post', action: '/submit', enctype: 'multipart/form-data'}
        .form-group.row
          %label.col-form-label.col-sm-3{for: 'submission-name-input'} Submission name
          %input.col-form-label.col-sm-9.form-control#submission-name-input{type: 'text', name: 'submission_name'}
        .form-group.row
          %label.col-form-label.col-sm-3{for: 'benchmark-tf-input'} TF
          %select.col-form-label.col-sm-9.form-control#benchmark-tf-input{name: 'submission_variant'}
            - submission_variants.group_by{|key, config| config[:species] }.each do |species, variants|
              %optgroup{label: SPECIES_NAME[species]}
              - variants.each do |key, config|
                %option{value: key }= config[:name]
        .form-group.row
          .custom-file.ml-3
            %input.form-control.custom-file-input#predictionsFile{type: 'file', name: 'predictions_file'}
            %label.custom-file-label{for: 'predictionsFile'} Choose file
        %button.btn.btn-primary{type: 'submit'} Submit
    - else
      %p You should sign in to submit predictions
